  {% extends 'base.html' %}
  {% block titulo %}Atividade 2{% endblock %}
  {% block conteudo %}
    <form action="" method="post">
      <input type="text" name="numeroForm">
      <input type="submit" value="Enviar">
    </form>

    {% if todos %}

      <h2>Somente Pares</h2>
      <ul>  
        {% for p in pares %}
        <li>{{p}}</li>
        {% endfor %}
      </ul>

      <h2>Somente Impares</h2>
      <ul>
        {% for i in impares %}
          <li>{{i}}</li>
        {% endfor %}
      </ul>

      <h2>Todos os numeros</h2>
      <ul>
        {% for digito,tipo in todos %}
          <li>{{digito}} -  {{tipo}}</li>
        {% endfor %}
      </ul>

    {% endif %}
    
  {% endblock %}
